<%# 質問表示 %>
<% question = function(index, duration, survey){ %>
    <div class="question question-<%=index%>">
        <% type = survey.type %>

        <%# 質問 %>
        <div class="question-text question-cell">
            <p><%=index %>. <%=survey.description %></p>
        </div>
        <%# 回答 %>
            <div class="question-answer question-cell">
                <% if(type == 1) { %>
                    <%- include('./controls/select', { survey: survey, index: index }); %>
                <% } else if(type == 2) { %>
                    <textarea name="<%=survey.column_code %>" rows="5" placeholder="<%=survey.description%>"></textarea>
                <% } else if(type == 3) { %>
                    <input name="<%=survey.column_code %>" type="range" min="1" max="5" value="" class="input-star-range" /> 
                <% } %>
            </div>
        <%# 次へ %>
        <div class="question-next question-cell">
            <div class="question-next-margin"></div>
            <% if (index == duration) { %>
                <a href="#" class="question-next-button" onclick="document.forms[0].submit()">送信！</a>
            <% } else { %>
                <a href="#" class="question-next-button" onclick="window.showNext(<%=index %>)">次へ >></a>
            <% } %>
            <div class="question-next-text"><%=index %> / <%=duration %></div>
        </div>
    </div>
<% }; %>

<%- include('./header') %>

<form method="POST">
    <div class="contents">
        <script type="text/javascript">
            window.vegeplan = {
                survey: {
                    count: <%=surveyList.length %>
                }
            };
        </script>
        <% surveyList.forEach(function(survey, index) { %>
            <% question(index+1, surveyList.length, survey); %>
        <% }); %>
    </div>
</form>

<%- include('./footer') %>